nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(198, 207, 249);
}

nav a {
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    font-weight: 600;
    color: blueviolet;
}